<!DOCTYPE html>
<html>
<head>
    <title>Expenses</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>